.side-contents
  
  .side-contents__sidebar-username
    
    .side-contents__sidebar-username__name-box
      
      .side-contents__sidebar-username__name-box__user-name 
        = current_user.name
      %ul.icon-box
        %li.icon-box__new-group
          = link_to "#" do
            = icon("fas", "edit")
        %li.icon-box__edit-user
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog', class: 'icon')      
  
  .side-contents__sidebar-groups
    = link_to "#" do
      .side-contents__sidebar-groups__group
        %p.side-contents__sidebar-groups__group__group-name techcamp
        %p.side-contents__sidebar-groups__group__latest-message まだありません
    = link_to "#" do
      .side-contents__sidebar-groups__group
        %p.side-contents__sidebar-groups__group__group-name techcamp
        %p.side-contents__sidebar-groups__group__latest-message まだありません